@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inter:wght@300&display=swap');

body {
    background: rgba(0, 0, 0, 0.9);
}

.header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.51);
}

.logo {
    padding-left: 20px;
    text-align: left;
    color: #FFBB0B;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50%;
}

.image {
    margin-left: 90%;
    width: 56px; /* Set the width and height to create a perfect circle */
    height: 56px;
    border-radius: 50%; /* Make the div a circle by setting border-radius to 50% */
    border: 3px solid #FFBB0B; /* Define the size and color of the border */
}

.profile-image {
    max-width: 56px;
    max-height: 56px;
}

aside {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    color: #FFBB0B;
    position: static;
    float: left;
    width: 16%;
    height: 800px;
    margin: 10px 17px 5px 0;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}

.add {
    position: fixed;
    width: 85px;
    height: 85px;
    fill: #131313;
    stroke-width: 1px;
    stroke: #131313;
}

.star {
    width: 45px;
    height: 45px;
    fill: #FFBB0B;
}

.card-area {
    position: static;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    margin: 10px 10px 0 10px;
    width: 82%;
    height: 760px;
    border-radius: 10px;
    background: black;
    justify-content: space-between;
    overflow: auto;
    scrollbar-color: #FFBB0B #616161;
}

.card-area::-webkit-scrollbar-thumb:hover {
    background-color: #f58536;
}

.card {
    position: relative;
    background: #131313;
    width: 250px;
    height: 350px;
    margin: 40px 30px 0 auto;
    border-radius: 10%;
    transition-duration: 0.5s;
    font-family: Poppins, sans-serif;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.name {
    color: #676767;
    text-align: center;
}

.text-field {
    margin-left: 10px;
    width: 100%;
    max-width: 230px;
}

.text {
    display: -webkit-box;
    color: #cfcfcf;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
}

.honey-yellow {
    border: none;
    position: relative;
    background-color: #FFBB0B;
    height: 2px;
}

.circle {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 4px solid #FFBB0B;
    border-radius: 50%;
    position: fixed;
    transition: transform 0.5s;
    z-index: 1;
    align-items: center;
    margin-left: 90%;
    margin-top: -5%;
    transition-duration: 0.5s;
}

.plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.circle:hover {
    transform: rotate(90deg) scale(1.05); /* Поворачиваем кружок на 75 градусов при наведении */
    box-shadow: 0 0 10px 0 #a1a1a1;
}

a:link {
    text-decoration: none;
    color: #FFBB0B;
}

a:visited {
    text-decoration: none;
    color: #FFBB0B;
}

a:hover {
    text-decoration: none;
    color: #FFBB0B;
}

a:active {
    text-decoration: none;
    color: #FFBB0B;
}

.options-container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-left: 50%;
    margin-top: 10px;
    position: relative;
    width: 300px;
    height: 30px;
    background-color: black;
    border-radius: 30px;
    padding: 10px;

}

.options-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: #FFBB0B;
}

.option-common {
    margin-left: 30px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: white;
    transition-duration: 0.5s;
}

.option-favorite {
    margin-right: 30px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: white;
    transition-duration: 0.5s;
}

.option {
    cursor: pointer;
}

.option:hover {
    color: #FFBB0B;
}

.option:active {
    color: #FFBB0B;
}

#noteModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}